.card-list {
  margin-bottom: 8px;
}
.card-list:hover {
  border-color: #00005181;
}
.card-action-btn {
  margin-left: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center !important;
}
.card-action-btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.card-action-btn-label {
  padding-left: 4px;
}
.card-top-options {
  justify-content: space-between;
  margin: 0 0.1rem 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
